body, html {
    padding: 0px;
    margin: 0px;
}
header{
    height: 60px;
    background-color: plum;
    grid-area: header;
}
nav{
    background-color: coral;
    grid-area: nav;
}
article{
    height: 240px;
    background-color: beige;
    grid-area: article;
}
footer{
    background-color: aquamarine;
    height: 80px;
    grid-area: footer;
}
#container {
    margin: 0px auto;
    width: 1200px;
    background-color: orange;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'nav article article article'
    'footer footer footer footer'
    ;
}